* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
}

.sidebar {
    margin-top: 2rem;
    margin-left: 2rem;
}

.map {
    width: 80vw;
    height: 100vh;
}

.ol-scale-line {
    bottom: 21%;
}

.dataset {
    margin-top: 2rem;
    display: block;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type
https://www.w3schools.com/CSSref/pr_list-style-type.asp */
ul .selectedLocations {
    list-style-type: '−';
}