* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.sidebar {
    margin-left: 1rem;
}

.map {
    width: 80vw;
    height: 100vh;
}

.ol-scale-line {
    bottom: 21%;
}